.App {
  text-align: center;
  
}

header{
  width: 100%;
  height:30vh;
  padding: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .top-box{
  display: flex;
  justify-content: space-between;
}
header .top-box h1{
  color: white;
  font-size: 2rem;
  font-width: Bold;
}
/* Desktop Styles */
@media only screen and (min-width: 769px) {
  header {
    background-image: url('../src/images/bg-desktop-dark.jpg');
  }
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  header {
    background-image: url('../src/images/bg-mobile-dark.jpg');
  }
}

/* form styles */
form{
  margin-top: 2rem;
  
}
form .form-container{
  display: flex;
  width:100%;
  background: hsl(235, 21%, 11%);
  padding: .5rem;
  border-radius: 5px;
}
form .form-container .rounded-box{
  width: 2rem;
  margin-right:.5rem;
  border-radius: 50%;
  border: 1.5px solid white;
}
form .form-container input{
  width:80%;
  border: none;
  background: hsl(235, 21%, 11%);
}
form .form-container button{
  color: white;
  width: 1.5rem;
  font-size: 1.5rem;
  font-width: Bold;
}